{% extends "mezawiki/wiki_page_list.html" %}
{% load mezzanine_tags mezawiki_tags comment_tags keyword_tags rating_tags i18n %}

{% block meta_title %}{{ wiki_page.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for wiki_page as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ wiki_page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{{ wiki_page.title }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/wiki.css">
{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="{% url home %}">{% trans "Home" %}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="{% url wiki_index %}">{{ page.richtextpage.title }}</a>
    <span class="divider">/</span>
</li>
<li class="active">{{ wiki_page.title }}</li>
{% endblock %}

{% block main %}

[<a href="{% url wiki_page_edit wiki_page.slug %}">{% trans "Edit page" %}</a> | <a href="{% url wiki_page_history wiki_page.slug %}">{% trans "View history" %}</a>]

<h6>
    {% if wiki_page.categories.all.count > 0 %}
    {% trans "Categories" %}:
    {% for category in wiki_page.categories.all %}
    <a href="{% url wiki_page_list_category category.slug %}">{{ category }}</a>
    {% endfor %}
    {% endif %}
</h6>

{% if wiki_page.featured_image %}
<p><img src="{{ MEDIA_URL }}{% thumbnail wiki_page.featured_image 600 0 %}"></p>
{% endif %}

{% if undo_error %}
<div class="alert alert-error">
<p>{% blocktrans with wiki_page.get_absolute_url as wiki_page_url %}
It was impossible to automatically undo the change 
you have selected. Perhaps the page has been modified too much in the 
meantime. Review the following content comparison, which represents the 
change you tried to undo, and apply the changes manually to the latest 
revision.
{% endblocktrans %}</p>
</div>
{% endif %}

<div class="alert">{% blocktrans with from_revision.date_created as from_time and to_revision.date_created as to_time %}
Comparing content of the page between {{ from_time }} and {{ to_time }}.{% endblocktrans %}
</div>
<div class="diff">
{{ diff|html_diff }}
</div>

{% keywords_for wiki_page as tags %}
{% if tags %}
{% spaceless %}
<ul class="unstyled tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url wiki_page_list_tag tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}

{% endblock %}

