{% extends "mezawiki/wiki_page_list.html" %}
{% load mezzanine_tags mezawiki_tags comment_tags keyword_tags rating_tags i18n %}

{% block meta_title %}
{% if not wiki_page.is_initial %}
{% trans "Editing" %}:
{% else %}
{% trans "Creating" %}:
{% endif %}
{{ title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for wiki_page as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ wiki_page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if not wiki_page.is_initial %}
{{ wiki_page.title }}
{% else %}
{{ title }}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="{% url home %}">{% trans "Home" %}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="{% url wiki_page_list %}">{{ page.richtextpage.title }}</a>
    <span class="divider">/</span>
</li>
{% if not wiki_page.is_initial %}
<li>
    <a href="{{ wiki_page.get_absolute_url }}">{{ wiki_page.title }}</a>
    <span class="divider">/</span>
</li>
<li class="active">{% trans "Editing" %}</li>
{% else %}
<li>
    {{ title }}
    <span class="divider">/</span>
</li>
<li class="active">{% trans "Creating" %}</li>
{% endif %}
{% endblock %}

{% block main %}
{% if not wiki_page.is_initial %}
[{% trans "Editing" %}]
{% else %}
[{% trans "Creating" %}]
{% endif %}

{% if not wiki_page.is_initial %}
<h6>
    {% if wiki_page.categories.all.count > 0 %}
    {% trans "Categories" %}:
    {% for category in wiki_page.categories.all %}
    <a href="{% url wiki_page_list_category category.slug %}">{{ category }}</a>
    {% endfor %}
    {% endif %}
</h6>
{% endif %}

{% if wiki_page.featured_image %}
<p><img src="{{ MEDIA_URL }}{% thumbnail wiki_page.featured_image 600 0 %}"></p>
{% endif %}

<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="{% trans 'Save' %}" />
</form>

{% keywords_for wiki_page as tags %}
{% if tags %}
{% spaceless %}
<ul class="unstyled tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url wiki_page_list_tag tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}

{% endblock %}
