{% extends "base.html" %}
{% load i18n mezzanine_tags mezawiki_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.title }}{% else %}{% trans "Wiki" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Wiki" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if category %}
    {% trans "Category:" %} {{ category }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}

{% if tag or category or year or month or author %}
    <p>
    {% if tag %}
        {% trans "Viewing pages tagged" %} {{ tag }}
    {% else %}{% if category %}
        {% trans "Viewing pages for the category" %} {{ category }}
    {% else %}{% if year or month %}
        {% trans "Viewing pages from" %} {% if month %}{{ month }}, {% endif %}
        {{ year }}
    {% else %}{% if author %}
        {% trans "Viewing pages by" %}
        {{ author.get_full_name|default:author.username }}
    {% endif %}{% endif %}{% endif %}{% endif %}
    </p>
{% else %}
    {% if page %}
    {% editable page.richtextpage.content %}
    {{ page.richtextpage.content|safe }}
    {% endeditable %}
    {% endif %}
{% endif %}

{% for wiki_page in wiki_pages.object_list %}
{% editable wiki_page.title wiki_page.publish_date %}
<h2>
    <a href="{{ wiki_page.get_absolute_url }}">{{ wiki_page.title }}</a>
</h2>
<h6>
    {% trans "Posted by" %}:
    {% with wiki_page.user as author %}
    <a href="{% url wiki_page_list_author author %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    {% if wiki_page.category_list %}
    {% trans "in" %}
    {% for category in wiki_page.category_list %}
    <a href="{% url wiki_page_list_category category.slug %}">{{ category }}</a>
    {% endfor %}
    {% endif %}
    {{ wiki_page.publish_date|timesince }} {% trans "ago" %}
</h6>
{% endeditable %}

{% if wiki_page.featured_image %}
<img class="featured-thumb" src="{{ MEDIA_URL }}{% thumbnail wiki_page.featured_image 90 90 %}">
{% endif %}


{% endfor %}

{% pagination_for wiki_pages %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% endblock %}

{% block right_panel %}
{% include "mezawiki/includes/filter_panel.html" %}
{% endblock %}
