{% extends "mezawiki/wiki_page_list.html" %}
{% load mezzanine_tags mezawiki_tags comment_tags keyword_tags rating_tags i18n %}

{% block meta_title %}{{ wiki_page.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for wiki_page as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ wiki_page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{{ wiki_page.title }}
{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="{% url 'home' %}">{% trans "Home" %}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="{% url 'wiki_index' %}">{{ page.richtextpage.title }}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="{% url 'wiki_page_detail' wiki_page.slug %}">{{ wiki_page.title }}</a>
    <span class="divider">/</span>
</li>
<li class="active">{% trans "Viewing revision" %}</li>
{% endblock %}

{% block main %}

[<a href="{{ wiki_page.get_absolute_url }}">{% trans "View Page" %}</a>]

<div class="alert">
<p>{% blocktrans with wiki_page.get_absolute_url as wiki_page_url %}
The version you are viewing is not the latest one, 
but represents an older revision of this page, which may 
have been significantly modified. If it is not what you 
intended to view, 
<a href="{{ wiki_page_url }}">proceed to the latest version</a>.
{% endblocktrans %}</p>
</div>

<h6>
    {% if wiki_page.categories.all.count > 0 %}
    {% trans "Categories" %}:
    {% for category in wiki_page.categories.all %}
    <a href="{% url 'wiki_page_list_category' category.slug %}">{{ category }}</a>
    {% endfor %}
    {% endif %}
</h6>

{% if wiki_page.featured_image %}
<p><img src="{{ MEDIA_URL }}{% thumbnail wiki_page.featured_image 600 0 %}"></p>
{% endif %}

{{ revision.content|wikitext_filter|safe }}

{% keywords_for wiki_page as tags %}
{% if tags %}
{% spaceless %}
<ul class="unstyled tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url 'wiki_page_list_tag' tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}

{% endblock %}
