{% extends "mezawiki/wiki_page_list.html" %}
{% load i18n mezzanine_tags mezawiki_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if wiki_page %}{{ wiki_page.title }}{% else %}{% trans "Wiki" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for wiki_page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ wiki_page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if wiki_page %}
{{ wiki_page.title }}
{% else %}
{% trans "Wiki" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="{% url 'home' %}">{% trans "Home" %}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="{% url 'wiki_index' %}">{{ page.richtextpage.title }}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="{% url 'wiki_page_detail' wiki_page.slug %}">{{ wiki_page.title }}</a>
    <span class="divider">/</span>
</li>
<li class="active">{% trans "Viewing history" %}</li>
{% endblock %}

{% block main %}

[<a href="{{ wiki_page.get_absolute_url }}">{% trans "View Page" %}</a>]

<form method="get" action="{% url 'wiki_page_diff' wiki_page.slug %}">

<button type="submit">{% trans "Compare" %}</button>

<ul style="unstyled">
{% for revision in revisions %}
<li>
    <input type="radio" name="from_revision_pk" value="{{ revision.pk }}" />
    <input type="radio" name="to_revision_pk" value="{{ revision.pk }}" />
    <a href="{{ revision.get_absolute_url }}">{{ revision.date_modified }}</a> - {{ revision.user }}{% if revision.description %}, {{ revision.description }}{% endif %}
    (<a href="{% url 'wiki_page_revert' wiki_page.slug revision.pk %}">{% trans "revert" %}</a> |
    <a href="{% url 'wiki_page_undo' wiki_page.slug revision.pk %}">{% trans "undo" %}</a>)
</li>
{% endfor %}
</ul>

<button type="submit">{% trans "Compare" %}</button>

{% endblock %}

{% block right_panel %}
{% include "mezawiki/includes/filter_panel.html" %}
{% endblock %}
