{% extends "mezawiki/wiki_page_list.html" %}
{% load mezzanine_tags mezawiki_tags markup comment_tags keyword_tags rating_tags i18n %}

{% block meta_title %}{{ wiki_page.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for wiki_page as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ wiki_page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable wiki_page.title %}{{ wiki_page.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="{% url home %}">{% trans "Home" %}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="{% url wiki_page_list %}">{{ page.richtextpage.title }}</a>
    <span class="divider">/</span>
</li>
<li class="active">{{ wiki_page.title }}</li>
{% endblock %}

{% block main %}

<h6>
    {% trans "Posted by" %}:
    {% with wiki_page.user as author %}
    <a href="{% url wiki_page_list_author author %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    {% if wiki_page.categories.all.count > 0 %}
    {% trans "in" %}
    {% for category in wiki_page.categories.all %}
    <a href="{% url wiki_page_list_category category.slug %}">{{ category }}</a>
    {% endfor %}
    {% endif %}
    {{ wiki_page.publish_date|timesince }} {% trans "ago" %}
</h6>

{% if wiki_page.featured_image %}
<p><img src="{{ MEDIA_URL }}{% thumbnail wiki_page.featured_image 600 0 %}"></p>
{% endif %}

<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="{% trans 'Save' %}" />
</form>

{% keywords_for wiki_page as tags %}
{% if tags %}
{% spaceless %}
<ul class="unstyled tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url wiki_page_list_tag tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}

{% endblock %}
