{% load mezawiki_tags keyword_tags i18n %}

<h3>{% trans "Wiki" %}</h3>
<ul class="unstyled recent-posts">
<li><a href="{% url 'wiki_index' %}"
    >{% trans "Main page" %}</a></li>
<li><a href="{% url 'wiki_page_list' %}"
    >{% trans "Page list" %}</a></li>
<li><a href="{% url 'wiki_page_changes' %}"
    >{% trans "Recent changes" %}</a></li>
<li><a href="{% url 'wiki_page_new' %}"
    >{% trans "New page" %}</a></li>
</ul>

{% wiki_recent_pages 5 as recent_pages %}
{% if recent_pages %}
<h3>{% trans "New pages" %}</h3>
<ul class="unstyled recent-posts">
{% for recent_page in recent_pages %}
<li><a href="{{ recent_page.get_absolute_url }}"
    >{{ recent_page.title }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% wiki_categories as categories %}
{% if categories %}
<h3>{% trans "Categories" %}</h3>
<ul class="unstyled">
{% for category in categories %}
<li><a href="{% url 'wiki_page_list_category' category.slug %}"
    >{{ category }}</a> ({{ category.post_count }})</li>
{% endfor %}
</ul>
{% endif %}

{% keywords_for mezzanine_wiki.wikipage as tags %}
{% if tags %}
<h3>{% trans "Tags" %}</h3>
<ul class="unstyled tags">
{% for tag in tags %}
<li>
    <a href="{% url 'wiki_page_list_tag' tag.slug %}"
        class="tag-weight-{{ tag.weight }}">{{ tag }}</a>
    ({{ tag.item_count }})
</li>
{% endfor %}
</ul>
{% endif %}

